<p id="notice"><%= notice %></p>

<p>
  <strong>Reply:</strong>
  <%= @comment.reply_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @comment.sender_id %>
</p>

<p>
  <strong>Sender type:</strong>
  <%= @comment.sender_type %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
