<p id="notice"><%= notice %></p>

<h1>Listing Webmails</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Sender name</th>
      <th>Receiver</th>
      <th>Receiver type</th>
      <th>Content</th>
      <th>Ifread</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webmails.each do |webmail| %>
      <tr>
        <td><%= webmail.sender_id %></td>
        <td><%= webmail.sender_name %></td>
        <td><%= webmail.receiver_id %></td>
        <td><%= webmail.receiver_type %></td>
        <td><%= webmail.content %></td>
        <td><%= webmail.ifread %></td>
        <td><%= link_to 'Show', webmail %></td>
        <td><%= link_to 'Edit', edit_webmail_path(webmail) %></td>
        <td><%= link_to 'Destroy', webmail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webmail', new_webmail_path %>
