<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @club.password %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @club.introduction %>
</p>

<p>
  <strong>Head url:</strong>
  <%= @club.head_url %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
